<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Component Id="CMP_LightNoteContextMenu" Guid="*">
        <RegistryKey Root="HKCU" Key="Software\Classes\Applications\lightnote.exe\shell\open\command">
          <RegistryValue Type="string" Value="&quot;[INSTALLDIR]lightnote.exe&quot; &quot;%1&quot;" KeyPath="yes" />
        </RegistryKey>

        <RegistryKey Root="HKCU" Key="Software\Classes\Applications\lightnote.exe\SupportedTypes">
          <RegistryValue Name=".md" Type="string" Value="" />
          <RegistryValue Name=".markdown" Type="string" Value="" />
          <RegistryValue Name=".txt" Type="string" Value="" />
        </RegistryKey>

        <RegistryKey Root="HKCU" Key="Software\Classes\SystemFileAssociations\.md\shell\LightNote">
          <RegistryValue Type="string" Value="Open with LightNote" />
          <RegistryValue Name="Icon" Type="string" Value="[INSTALLDIR]lightnote.exe,0" />
          <RegistryValue Name="MultiSelectModel" Type="string" Value="Single" />
        </RegistryKey>
        <RegistryKey Root="HKCU" Key="Software\Classes\SystemFileAssociations\.md\shell\LightNote\command">
          <RegistryValue Type="string" Value="&quot;[INSTALLDIR]lightnote.exe&quot; &quot;%1&quot;" />
        </RegistryKey>

        <RegistryKey Root="HKCU" Key="Software\Classes\SystemFileAssociations\.markdown\shell\LightNote">
          <RegistryValue Type="string" Value="Open with LightNote" />
          <RegistryValue Name="Icon" Type="string" Value="[INSTALLDIR]lightnote.exe,0" />
          <RegistryValue Name="MultiSelectModel" Type="string" Value="Single" />
        </RegistryKey>
        <RegistryKey Root="HKCU" Key="Software\Classes\SystemFileAssociations\.markdown\shell\LightNote\command">
          <RegistryValue Type="string" Value="&quot;[INSTALLDIR]lightnote.exe&quot; &quot;%1&quot;" />
        </RegistryKey>

        <RegistryKey Root="HKCU" Key="Software\Classes\SystemFileAssociations\.txt\shell\LightNote">
          <RegistryValue Type="string" Value="Open with LightNote" />
          <RegistryValue Name="Icon" Type="string" Value="[INSTALLDIR]lightnote.exe,0" />
          <RegistryValue Name="MultiSelectModel" Type="string" Value="Single" />
        </RegistryKey>
        <RegistryKey Root="HKCU" Key="Software\Classes\SystemFileAssociations\.txt\shell\LightNote\command">
          <RegistryValue Type="string" Value="&quot;[INSTALLDIR]lightnote.exe&quot; &quot;%1&quot;" />
        </RegistryKey>
      </Component>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="LightNoteContextMenuComponents">
      <ComponentRef Id="CMP_LightNoteContextMenu" />
    </ComponentGroup>
  </Fragment>
</Wix>
